---
import ListItems from '../data/ListItems';
---
<section id="goals"  class="pt-24 pb-24 sm:px-4 w-[100%]">
    <h1 class="font-semibold text-3xl text-center w-full mb-24 sm:text-xl sm:mb-16">You'll catch me doing<br>a combo of these things:</h1>
    <div class="flex sm:justify-center pl-24 sm:pl-0">
        {
            ListItems.map((item) => (
            <section class="goal-card h-[15rem] w-[16rem] border-0 rounded-xl bg-white shadow-sm overflow-hidden" style={`transform: rotate(${item.tilt})`}>
                <div style={`background-color: ${item.color}`}>
                    <h3 class="font-semibold p-2 text-center" style={`color: ${item.darkerColor}`}>{item.title}</h3>
                </div>
                <ul class="p-4 list-none m-0">
                    {
                        item.arr.map((i) => (
                            <li class="pb-3 mb-3 border-b border-gray-200 last:mb-0 last:pb-0 last:border-b-0">{i}</li>
                        ))
                    }
                </ul>
            </section>
            ))
            
        }
    </div>
    <p class="caption text-gray-400 rotate-6 float-right mt-[-7rem] sm:float-none sm:mt-20 sm:text-center">Why be a Captain<br>when you can be a Pirate?</p>

</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
    .caption {
        font-family: "Playwrite BE VLG", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .goal-card{
        box-shadow: rgba(49, 49, 49, 0.15) -1.95px -1.95px 2.6px;
    }
</style>